
body{
    font-family: 'Fuzzy Bubbles', cursive;
    background: #fff;
}
  
body.dark-theme {
    background: #121212;
  }
  
.btn-toggle{
    color: beige;
    float: right;
    background-color: magenta;
}



    



.grid-container1{
    display: inline-grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 150px;
    background-color: aqua;
    
}
.grid-container2{
    display: inline-grid;
    grid-template-columns: 1200px;
    grid-template-rows: 500px;
    border: solid black 2px;
    background-image: url(https://preview.redd.it/apv6yz4792m91.jpg?width=1375&format=pjpg&auto=webp&s=894d331b31dd87dd5e2956f416aad157b6b9918b);
    background-position: center;
    color: white;
    background-size: 1200px 600px
    
    
}

.grid-container3{
    display: none;
    grid-template-columns: 600px 600px;
    grid-template-rows: 250px;
    border: solid black 2px;
    background-color: yellow;

}

.box{
    border:solid black 5px;
}

.box3{
    border: solid black 2px;
    
}


#questionNext{
    flex: center;
    bottom: 150px;
    right: 150px;
    
    
}

#nextQuestion{
    font-size: 50px;
    float: right;
}

h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}




button{
    background-color: orange;
    display: inline-block;
    
    margin-left: 250px;
    height: 100px;
    width: 100px;
    
}




#lifetotal{
    color: red
}
.box{
    font-size: 50px;
    text-align: center;
}
#truth{
    font-size: 30px;
}

.base-timer {
    position: relative;
    height: 300px;
    width: 300px;
  }
  
  /* Removes SVG styling that would hide the time label */
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  /* The SVG path that displays the timer's progress */
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }

  .base-timer__label {
    position: absolute;
    
    /* Size should match the parent container */
    width: 300px;
    height: 300px;
    
    /* Keep the label aligned to the top */
    top: 0;
    
    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* Sort of an arbitrary number; adjust to your liking */
    font-size: 48px;
  }

#app{
    float: right
}