
body{
    font-family: 'Fuzzy Bubbles', cursive;
    background: #fff;
    background-image: url(https://i.redd.it/oa3x8t30xos71.jpg);
    background-position: center;
}

/*this dark theme and button toggle was from csstricks website*/ 
body.dark-theme {
    background: #121212;
  }
  
.btn-toggle{
    color: beige;
    float: right;
    background-color: magenta;
}

.grid-container1{
    display: inline-grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 150px;
    background-color: aqua;
    
}
.grid-container2{
    display: inline-grid;
    grid-template-columns: 1200px;
    grid-template-rows: 500px;
    border: solid black 2px;
    background-image: url(https://preview.redd.it/apv6yz4792m91.jpg?width=1375&format=pjpg&auto=webp&s=894d331b31dd87dd5e2956f416aad157b6b9918b);
    background-position: center;
    color: white;
    background-size: 1200px 600px
    
    
}

.grid-container3{
    display: none;
    grid-template-columns: 600px 600px;
    grid-template-rows: 250px;
    border: solid black 2px;
    background-color: yellow;

}

.box{
    border:solid black 5px;
}

.box3{
    border: solid black 2px;
    
}


#questionNext{
    flex: center;
    bottom: 150px;
    right: 150px;
    
    
}

#nextQuestion{
    font-size: 50px;
    float: right;
}

h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

button{
    background-color: orange;
    display: inline-block;
    
    margin-left: 250px;
    height: 100px;
    width: 100px;
    
}

#lifetotal{
    color: red
}
.box{
    font-size: 50px;
    text-align: center;
}
#truth{
    font-size: 30px;
}
