
body{
    background-color: yellowgreen;
    
}



.grid-container1{
    display: inline-grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 150px;
    background-color: aqua;
    
}
.grid-container2{
    display: inline-grid;
    grid-template-columns: 1200px;
    grid-template-rows: 200px;
    border: solid black 2px;
    background-color: red;
}

.grid-container3{
    display: inline-grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 250px;
    border: solid black 2px;
    background-color: yellow;

}

.box{
    border:solid black 5px;
}

.box3{
    border: solid black 2px;
}


#questionNext{
    flex: center;
    bottom: 150px;
    right: 150px;
    
    
}

#nextQuestion{
    font-size: 50px;
    float: right;
}

h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

button{
    background-color: orange;
    display: inline-block;
    
    margin-left: 250px;
    height: 100px;
    width: 100px;
}
